.amount {
  display: flex;
  width: 15%;
  flex-direction: column;
  justify-content: space-between;

  &__quantity {
    padding: 20%;
    display: block;
    object-fit: cover;
    text-align: center;

    object-fit: contain;
  }
}
