.product {
  width: 20vw;
  height: auto;
  padding: 3rem;
  margin-bottom: 5rem;
  background-color: white;

  text-align: center;
  border-radius: 3%;
  display: inline-block;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);

  position: relative;

  &__image {
    max-width: 95%;
    max-height: 95%;
    display: block;
    border-radius: 3%;
  }

  &__hover {
    width: 100%;
    height: 100%;

    position: absolute;

    top: 0;
    left: 0;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3%;
    transition: all 0.2s;

    &--inner-box {
      display: flex;
      justify-content: space-between;
      height: 30%;
      width: 100%;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      background-color: white;
    }

    &--cart {
      width: 80%;

      background-color: white;
    }
    &--image {
      padding: 1rem;

      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    &__amount-box {
      width: 50%;
      height: 20%;
      top: 20%;
      position: absolute;
      background-color: white;
    }
  }

  &:hover > &__hover {
    opacity: 1;
  }
}
